.seo02-01 p {
background:url(/img/seo/seo02_img02.jpg) 0 0 no-repeat;
font-size:138.5%;
font-weight:bold;
line-height:1.3;
padding:5px 20px 5px 20px;
text-align:center;
height:74px;
}
ul.service-list li {
background:url(/img/seo/bt_single_bg.jpg) 0 0 no-repeat;
width:210px;
float:left;
margin:0 5px 5px 5px;
font-size:131%;
font-weight:bold;
color:#ffffff;
text-align:center;
line-height:40px;
}
.cap {
display:block;
width:100%;
clear:both;
margin-bottom:0;
}
.seo03-02 {
background:url(/img/seo/seo03_img02.jpg) 0 0 repeat-y;
}
.seo03-02-01 {
width:257px;
float:left;
margin-left:46px;
}
.seo03-02-02 {
width:232px;
float:left;
margin-left:130px;
}
.seo03-04 {
background:url(/img/seo/seo03_img04.jpg) 0 0 repeat-y;
}
.seo03-04-01 {
width:300px;
float:left;
margin-left:48px;
}
.seo03-04-02 {
width:230px;
float:left;
margin-left:65px;
}
.seo03-02-01 img,
.seo03-02-02 img,
.seo03-04-01 img,
.seo03-04-02 img {
float:left;
}
.seo03-02 h4,
.seo03-04 h4 {
color:#0066CC;
font-weight:bold;
margin-bottom:2px;
}
.seo03-02 p,
.seo03-04 p {
font-size:85%;
line-height:1.2;
margin-bottom:0;
}
.seo05 {
width:690px;
margin:0 auto;
}
.seo05 h4 {
margin-bottom:5px;
}
.seo05 p {
padding:0 5px 5px 5px;
}
.seo05-01 {
width:330px;
margin:15px 0;
float:left;
}
.seo05-02 {
width:327px;
margin:15px 0;
float:right;
}