.weibo02 {
width:694px;
margin:0 auto;
margin-bottom:5px;
}
.sem02 h4 {
margin-bottom:8px;
}
.img-l {
float:left;
width:108px;
}
.text-r {
float:right;
width:582px;
background:url(/img/weibo/weibo02_img03.jpg) 0 0 repeat-y;
}
.text-r2 {
background:url(/img/weibo/weibo02_img02.jpg) 0 top no-repeat;
}
.text-r3 {
background:url(/img/weibo/weibo02_img04.jpg) 0 bottom no-repeat;
padding:15px 25px 10px 40px;
}
.text-r3 h4,
.text-l3 h4 {
font-weight:bold;
}
.text-r3 p,
.text-l3 p {
margin-bottom:0 !important;
padding-left:15px;
}
.wide-img2 {
width:680px;
margin:0 auto;
margin-bottom:25px;
}
.img-r {
float:right;
width:108px;
}
.text-l {
float:left;
width:582px;
background:url(/img/weibo/weibo02_img06.jpg) 0 0 repeat-y;
}
.text-l2 {
background:url(/img/weibo/weibo02_img05.jpg) 0 top no-repeat;
}
.text-l3 {
background:url(/img/weibo/weibo02_img07.jpg) 0 bottom no-repeat;
padding:15px 40px 10px 50px;
}
.con-l {
width:310px;
float:left;
}
.con-l ul li img {
float:left;
}
.con-l ul li {
border-bottom:1px dotted #ccc;
margin-top:8px;
}
.con-r {
width:366px;
float:right;
}
ul.service-list li.single {
background:url(/img/sem/bt_double_bg.jpg) 0 0 no-repeat;
width:180px;
float:left;
margin:0 5px 8px 5px;
font-size:131%;
font-weight:bold;
color:#ffffff;
text-align:center;
line-height:55px;
padding:0 15px 0 15px;
}
ul.service-list li.double {
background:url(/img/sem/bt_double_bg.jpg) 0 0 no-repeat;
width:180px;
float:left;
margin:0 5px 0px 5px;
font-size:131%;
font-weight:bold;
color:#ffffff;
text-align:center;
line-height:1.1;
height:55px;
padding:8px 15px 0 15px;
}
.cap {
display:block;
width:100%;
clear:both;
margin-bottom:15px;
}
.line-h {
font-size:116%;
font-weight:bold;
padding-left:6px;
border-left:4px solid #28B599;
margin-bottom:8px;
}
.weibo05 {
width:690px;
margin:0 auto;
}
.weibo05 h4 {
margin-bottom:5px;
}
.weibo05 p {
padding:0 5px 5px 5px;
}
.weibo05-01 {
width:332px;
float:left;
}
.weibo05-02 {
width:332px;
float:right;
}
.weibo07-02 {
background:url(/img/weibo/weibo07_img02.jpg) 0 0 repeat-y;
}
.weibo07-02-01 {
width:188px;
float:left;
margin-left:38px;
}
.weibo07-02-02 {
width:202px;
float:left;
margin-left:35px;
}
.weibo07-04 {
background:url(/img/weibo/weibo07_img04.jpg) 0 0 repeat-y;
}
.weibo07-04-01 {
width:210px;
float:left;
margin-left:230px;
}
.weibo07-04-02 {
width:200px;
float:left;
margin-left:25px;
}
.weibo07-02-01 img,
.weibo07-02-02 img,
.weibo07-04-01 img,
.weibo07-04-02 img {
float:left;
}
.weibo07-02 h4,
.weibo07-04 h4 {
color:#0066CC;
font-weight:bold;
margin-bottom:2px;
}
.weibo07-02 p,
.weibo07-04 p {
font-size:85%;
line-height:1.2;
margin-bottom:0;
}