ul#zhidao_light{
    padding:8px 10px 10px 15px;
    margin-bottom:1px;
}

ul#zhidao_light li.title{
    height:35px;
    line-height:35px;
    background:url(/img/rapid/light_indent.jpg) 0 0px no-repeat;
    font-size:115%;
    padding-left:30px;
    margin-bottom:5px;
    font-weight: bold;
}
